.sale-map-box {
  padding: 0 20px;
  text-align: center;

  .btn {
    padding: 12px 20px;
    background-color: #022869;
    font-size: 16px;
    color: #5a94ce;
    cursor: pointer;

    &.active {
      background: linear-gradient(
        to bottom,
        #022869 0%,
        #022869 50%,
        rgba(75, 244, 255, 0.5) 100%
      );
      color: #fff;
    }
  }
}
