.BaseLayout {
  // background: var(--background-color1);
  background-color: rgb(2, 13, 34);
  min-height: 100vh;
  min-width: 1434px;
  .ant-layout-header {
    height: 62px;
    line-height: 62px;
  }
}
